.container-fluid {
    padding: 15px 15px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2.5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

p.navbar-brand{
    margin: 0px 16px 16px 16px;
    font-size: 25px;
}

.nav-item{
    font-size: 15px;
}

button.btn.btn-primary{
    margin: 5px 0px;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
